/* Import Font  */
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Adamina', serif; */


/* font size  10-24 */
.fs-10{font-size:0.625em}.fs-11{font-size:0.6875em}.fs-12{font-size:0.75em}.fs-13{font-size:0.8125em}.fs-14{font-size:0.875em}.fs-15{font-size:0.9375em}.fs-16{font-size:1em}.fs-17{font-size:1.0625em}.fs-18{font-size:1.125em}.fs-19{font-size:1.1875em}.fs-20{font-size:1.25em}.fs-21{font-size:1.3125em}.fs-22{font-size:1.375em}.fs-23{font-size:1.4375em}.fs-24{font-size:1.5em}

/* font size  25-120 */
.fs-25{font-size:2.5rem}.fs-26{font-size:2.6rem}.fs-27{font-size:2.7rem}.fs-28{font-size:2.8rem}.fs-29{font-size:2.9rem}.fs-30{font-size:3rem}.fs-31{font-size:3.1rem}.fs-32{font-size:3.2rem}.fs-33{font-size:3.3rem}.fs-34{font-size:3.4rem}.fs-35{font-size:3.5rem}.fs-36{font-size:3.6rem}.fs-37{font-size:3.7rem}.fs-38{font-size:3.8rem}.fs-39{font-size:3.9rem}.fs-40{font-size:4rem}.fs-41{font-size:4.1rem}.fs-42{font-size:4.2rem}.fs-43{font-size:4.3rem}.fs-44{font-size:4.4rem}.fs-45{font-size:4.5rem}.fs-46{font-size:4.6rem}.fs-47{font-size:4.7rem}.fs-48{font-size:4.8rem}.fs-49{font-size:4.9rem}.fs-50{font-size:5rem}.fs-51{font-size:5.1rem}.fs-52{font-size:5.2rem}.fs-53{font-size:5.3rem}.fs-54{font-size:5.4rem}.fs-55{font-size:5.5rem}.fs-56{font-size:5.6rem}.fs-57{font-size:5.7rem}.fs-58{font-size:5.8rem}.fs-59{font-size:5.9rem}.fs-60{font-size:6rem}.fs-61{font-size:6.1rem}.fs-62{font-size:6.2rem}.fs-63{font-size:6.3rem}.fs-64{font-size:6.4rem}.fs-65{font-size:6.5rem}.fs-66{font-size:6.6rem}.fs-67{font-size:6.7rem}.fs-68{font-size:6.8rem}.fs-69{font-size:6.9rem}.fs-70{font-size:7rem}.fs-71{font-size:7.1rem}.fs-72{font-size:7.2rem}.fs-73{font-size:7.3rem}.fs-74{font-size:7.4rem}.fs-75{font-size:7.5rem}.fs-76{font-size:7.6rem}.fs-77{font-size:7.7rem}.fs-78{font-size:7.8rem}.fs-79{font-size:7.9rem}.fs-80{font-size:8rem}.fs-81{font-size:8.1rem}.fs-82{font-size:8.2rem}.fs-83{font-size:8.3rem}.fs-84{font-size:8.4rem}.fs-85{font-size:8.5rem}.fs-86{font-size:8.6rem}.fs-87{font-size:8.7rem}.fs-88{font-size:8.8rem}.fs-89{font-size:8.9rem}.fs-90{font-size:9rem}.fs-91{font-size:9.1rem}.fs-92{font-size:9.2rem}.fs-93{font-size:9.3rem}.fs-94{font-size:9.4rem}.fs-95{font-size:9.5rem}.fs-96{font-size:9.6rem}.fs-97{font-size:9.7rem}.fs-98{font-size:9.8rem}.fs-99{font-size:9.9rem}.fs-100{font-size:10rem}.fs-101{font-size:10.1rem}.fs-102{font-size:10.2rem}.fs-103{font-size:10.3rem}.fs-104{font-size:10.4rem}.fs-105{font-size:10.5rem}.fs-106{font-size:10.6rem}.fs-107{font-size:10.7rem}.fs-108{font-size:10.8rem}.fs-109{font-size:10.9rem}.fs-110{font-size:11rem}.fs-111{font-size:11.1rem}.fs-112{font-size:11.2rem}.fs-113{font-size:11.3rem}.fs-114{font-size:11.4rem}.fs-115{font-size:11.5rem}.fs-116{font-size:11.6rem}.fs-117{font-size:11.7rem}.fs-118{font-size:11.8rem}.fs-119{font-size:11.9rem}.fs-120{font-size:12rem}

/* font weight */
.fw-100{font-weight:100}.fw-200{font-weight:200}.fw-300{font-weight:300}.fw-400{font-weight:400}.fw-500{font-weight:500}.fw-600{font-weight:600}.fw-700{font-weight:700}.fw-800{font-weight:800}.fw-900{font-weight:900}

/* line height */
.lh-1{line-height:1}.lh-1p1{line-height:1.1}.lh-1p2{line-height:1.2}.lh-1p3{line-height:1.3}.lh-1p4{line-height:1.4}.lh-1p5{line-height:1.5}.lh-1p6{line-height:1.6}.lh-1p7{line-height:1.7}.lh-1p8{line-height:1.8}.lh-1p9{line-height:1.9}.lh-2{line-height:2}.lh-2p1{line-height:2.1}.lh-2p2{line-height:2.2}.lh-2p3{line-height:2.3}.lh-2p4{line-height:2.4}


/* ===================================== Default CSS === START  */
html{
    font-size: 10px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
	line-height: 1.5;
}
p, a, span{
	line-height: 1.5;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
p{
	font-family: 'Adamina', serif;
}
a{
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
h1{
	line-height: 1.2;
	margin-bottom: 10px;
}
h2{
	line-height: 1.2;
	margin-bottom: 10px;
}
h3{
	line-height: 1.3;
	margin-bottom: 10px;
}
h4{
	line-height: 1.3;
	margin-bottom: 10px;
}
h5{
	line-height: 1.5;
	margin-bottom: 10px;
}
h6{
	line-height: 1.5;
	margin-bottom: 10px;
}
img{
    max-width: 100%;
    padding: 0;
    margin: 0;
}
a{
    display: inline-flex;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover{
    text-decoration: none;
}
/* ===================================== Default CSS === END  */



/* =============================================================== Created Default Class === START  */
/* ================================= Button -- START */
.butn-wrap{
	display: flex;
}

a.butn, .butn, input.butn-submit, .butn-submit{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 140px;
    min-height: 50px;
    padding: 5px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    /* letter-spacing: 0.3px; */
    border-radius: 0;
    color: #fff;
    background-color: #fe782e;
    border: 1px solid transparent;  
}
/* a.butn:hover, .butn:hover, 
input.butn-submit:hover, .butn-submit:hover{
    background-color: #7bdcb5;
    color: #fff;
} */

/* ================================  Backgrounds -- START*/
img.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
	z-index: -1;
}

.overly-block {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
	z-index: -1;
}

/* ============================ Overly Types */
.overly-block.overly-1 {
    background-color: #000;
    opacity: 0.5;
}
/* ================================  Backgrounds -- END*/



/* ================================  Sections -- START*/
.section{
    padding: 90px 0;
}
.row{
    max-width: 100%;
}
/* ======================================== SECTION TITLE DETALS */
.section-title{
    margin-bottom: 60px;
}
 a.title-link:after{
	content:"\f061";
	font-family: fontawesome;
	margin-left: 10px;
}
.section-title a {
	color: #fe782e;
}
/* ================================  Sections -- END*/
/* =============================================================== Created Default Class === END  */
/* ===================================================================== HEADER START */
.site-header .top-header {
    background-color: #fe782e;
    padding: 5px 0;
}
.top-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-header .cont-no a:before {
    content: "\f095";
    font-family: 'FontAwesome';
    margin-right: 10px;
	border: 1px solid #fff;
	border-radius: 50%;
	object-fit: cover;
    overflow: hidden;
    height: 20px;
    width: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}
.top-header .cont-no a {
    color: #fff;
}
.cont-link ul.top-menu {
    list-style: none;
    display: flex;
	padding: 0;
	margin: 0;
}
.cont-link ul.top-menu.f-menu li {
    margin-bottom: 0;
}
.cont-link ul.top-menu a {
    border-radius: 50%;
    background-color: #fff;
    color: #fe782e;
    margin-right: 10px;
    padding: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    object-fit: cover;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.site-header .main-header {
    background-color: #d6d6d6;
    padding: 5px 0;
}

.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-branding {
	display: inline-flex;
	align-items: center;
}
a.custom-logo-link{
	flex: 1;
	margin-right: 10px;
}
a.custom-logo-link img{
	width: auto;
	max-height: 40px;
	transition: all 0.5s ease-in-out;
}
.nav-area li{
	list-style: none;
}
ul.nav-menu{
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
ul.nav-menu li a {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 1.2px;
	display: inline-flex;
	text-align: center;
	transition: all 0.3s ease-in-out;
	margin-left: 40px;
	position: relative;
}
ul.nav-menu > li:not(.nav-btn) > a:after{
	content: '';
	height: 1px;
	width: 0%;
	background-color: #fe782e;
	position: absolute;
	bottom: -2px;
	left: 0;
	transition: all 0.3s ease-in-out;
}
ul.nav-menu > li:not(.nav-btn) > a:hover:after{
	width: 100%;
}
ul.nav-menu li a:hover{
	color: #fe782e;
}

.mobile-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.close-menu {
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
    font-size: 24px;
    display: none;
}
/* ===================================================================== HEADER END */
.site-footer .site-info {
    background-color: #565656;
    color: #fff;
    padding: 40px 0 60px 0;
}
.f-menu li{
	list-style: none;
}
.nav-item ul.f-menu-1 {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.nav-item ul.f-menu-1 li.menu-item {
    width: 50%;
    margin-bottom: 10px;
}
.f-menu li a{
	color: #fff;
	text-transform: uppercase;
}
.footer-title{
	margin-bottom: 20px;
}
.footer-item a {
    color: #fff;
}
.footer-item a span {
    font-weight: 700;
}
.footer-contact{
	margin-top: 20px;
}
.footer-contact a {
    width: 100%;
    display: block;
}
ul.f-menu-3{
	display: flex;
	padding: 0;
	margin: 0;
}
ul.f-menu-3 li a{
	margin-right: 10px;
}
.form-wrap input#email {
    padding: 8px;
}
.form-wrap button.btn{
	padding: 0;
	margin: 0;
}
.form-wrap button i {
    background-color: #fe782e;
    font-size: 22px;
    padding: 10px;
    color: #fff;
}
.site-footer .button-footer{
	background-color: #fe782e;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}
.site-footer .button-footer h4{
	margin: 0;
}